#btc_pagee{
    width: 50%; /* Set a width */
    margin: 0 auto; /* Center horizontally */
    background-color: rgb(230, 240, 243); /* Optional background color */
    padding: 20px; /* Optional padding */
    text-align: end; /* Optional text alignment */

    display: flex;
    justify-content: flex-start;
    
    font-weight: 900;
    font-size: 45px;

    border-radius: 10px;
}

#container{

    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    


}
#container div{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    color: white; /* Text color */
    padding: 30px;

}
